<html>
    <head>
        {% if title %}
        <title>{{ title }} - ohapp</title>
        {% else %}
        <title>ohapp</title>
        {% endif %}
    </head>
    <body>
        <div>
            Oral History App:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Find</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Abstract</a>
            <a href="{{ url_for('logout') }}">New Search</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>