{% extends "base.html" %}

{% block content %}
    <h1>New York Center for Public History</h1>
    <h2>Oral History App</h2>
    <p>Thanks to a generous grant from the Fulsome Foundation, NYCPH is collecting oral histories of people from the five boroughs of New York City. The goals of this project are to help build the historical record and to give people a chance to record and organize their own personal collections and share these with friends and family online. On this web app you can upload the interviews you record and access the interviews that have been uploaded by yourself and others. Although our intent is to make all interviews completely public and freely accessible, at present the interviews are password protected as we await Institutional Review Board (IRB) approval.</p>
    <p>In the spirit of transparency and freedom of information, we provide all source code and instructions for setting up and using this tool on at GitHub/Springle3152/ohapp.</p>
    <p></p>
    <p>Fill in the web form below to retrieve interviews that have already been added to the NYCPH oral history collections:</p>
    <p></p>
    <p></p>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>To add a new interview to the NYCPH collections, click here:<h2><a href="{{ url_for('register') }}"> Add New Interview </a></h2></p>
{% endblock %}